{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

<!----==============content_all_warpper==============--->
<div id="wrapper_full" class="content_all_warpper">
    <!----==============content_all_warpper==============--->
    <!--content start-->
    <div id="content" class="site-content">
        <!---slider-->
        <section class="slider style_one">
            <div class="owl-carousel owl_nav_block owl_dots_none theme_carousel owl-theme"
                data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayHoverPause":true , "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
                <!---sldier-->
                <div class="slide-item-content">
                    <div class="image-layer" style="background-image:url({{settings.image_banner1.url}})">
                    </div>
                    <div class="slide-item content_left">
                        <div class="auto-container">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <div class="slider_content">
                                        <div class="bg_image animate_up">
                                            <img src="{% static 'assets/images/slider/shape-1.png'%}" class="img-fluid"
                                                alt="ptimage" />
                                        </div>
                                        <h1 class="animate_left">
                                            {{settings.title_1}}
                                        </h1>

                                        <div class="button_all animate_down">
                                            <a href="{% url 'services' %}" class="theme_btn color_white  animated">
                                                Читать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---slider-->
                <!---sldier-->
                <div class="slide-item-content">
                    <div class="image-layer" style="background-image:url({{settings.image_banner2.url}});">
                    </div>
                    <div class="slide-item content_left">
                        <div class="auto-container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="slider_content">
                                        <div class="bg_image animate_down">
                                            <img src="{% static 'assets/images/slider/shape-1.png'%}" class="img-fluid"
                                                alt="ptimage" />
                                        </div>
                                        <h1 class="animate_left">
                                            {{settings.title_2}}
                                        </h1>

                                        <div class="button_all animate_down">
                                            <a href="{% url 'services' %}" class="theme_btn color_white  animated">
                                                Читать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---slider-->
                <!---sldier-->
                <div class="slide-item-content">
                    <div class="image-layer" style="background-image:url({{settings.image_banner3.url}})">
                    </div>
                    <div class="slide-item content_left">
                        <div class="auto-container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="slider_content">
                                        <div class="bg_image">
                                            <img src="{% static 'assets/images/slider/shape-1.png'%}" class="img-fluid"
                                                alt="ptimage" />
                                        </div>
                                        <h1 class="animate_left">
                                            {{settings.title_3}}
                                        </h1>

                                        <div class="button_all animate_down">
                                            <a href="{% url 'services' %}" class="theme_btn color_white  animated">
                                                Читать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---slider-->
            </div>
        </section>
        <!---slider-end--->
        <!---service-->
        <section class="1">
            <!---============spacing==========--->
            <div class="pd_top_80"></div>
            <!---============spacing==========--->
            <div class="container">
                <div class="row align-items-end">
                    <div class="work_proces">
                        <div class="section_title type_one">
                            <h4 class="sm_title"> Как мы работаем</h4>
                            <div class="title_whole">
                                <h2 class="title"> ПРОЦЕСС РАБОТЫ</h2>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="mr_bottom_15"></div>
                        <!---============spacing==========--->
                    </div>

                </div>
                <!---============spacing==========--->
                <div class="pd_bottom_25"></div>
                <!---============spacing==========--->
                <div class="service_post position-relative  ajax_service_enabled ">
                    <div class="row">
                        {% for operation in operetion_all %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                            <div class="service_box type_two hover_1_get">
                                <a href="{% url 'services' %}" class="img_bx">
                                    <div class="image trans hover_1">
                                        <img src="{{ operation.image.url }}" class="img-fluid" alt="service-image" />
                                        <div class="oh ho_1"></div>
                                        <div class="oh ho_2"></div>
                                        <div class="oh ho_3"></div>
                                        <div class="oh ho_4"></div>
                                    </div>
                                </a>
                                <div class="content_box trans">
                                    <div class="icon trans">
                                        {% if operation.icon == 'ИЗУЧЕНИЕ' %}
                                        <i class="flaticon-salary trans"></i>
                                        {% endif %}
                                        {% if operation.icon == 'РАЗРАБОТКА' %}
                                        <i class="flaticon-management trans"></i>
                                        {% endif %}
                                        {% if operation.icon == 'ЗАПУСК' %}
                                        <i class="flaticon-business-trip trans"></i>
                                        {% endif %}
                                    </div>
                                    <h4 class="title_24 trans">
                                        <a href="{% url 'services' %}">
                                            {{ operation.title }}
                                        </a>
                                    </h4>
                                    <p class="trans service_desc">
                                        {{ operation.descriptions }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!---============spacing==========--->
            <div class="pd_bottom_60"></div>
            <!---============spacing==========--->
        </section>
        <!---service end-->
        <!---about-->
        <section class="about-section position-relative">
            <!---============spacing==========--->
            <div class="pd_top_20"></div>
            <!---============spacing==========--->
            <div class="ab_img_left_bottom z_minus_1">
                <img src="{% static 'assets/images/bg-1.png'%}" class="img-fluid" alt="img" />
            </div>
            <div class="large-container">
                <div class="row align-items-start">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="image_box">
                            <img src="{% static 'assets/images/about/about-1.png'%}" class="img-fluid" alt="img" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
                        <div class="section_title type_one">
                            <div class="title_whole">
                                <h2 class="title"> {{about.title}}</h2>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="mr_bottom_20"></div>
                        <!---============spacing==========--->
                        <div class="fom_tab_box custom_tabs only_tab_content">
                            <div class="s_tabs_content tab-content">
                                <div class="tab-pane  active" id="aboutuss" role="tabpanel"
                                    aria-labelledby="aboutuss-tabtab">
                                    <div class="tab_content_box">
                                        <div class="content">
                                            {{about.descriptions|truncatewords:60}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                        <div class="theme_btn_all">
                            <a href="{% url 'about' %}" class="theme_btn">
                                Больше о нас
                                <span> <i class=" fi-rr-arrow-small-up"></i></span>
                            </a>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_70"></div>
                        <!---============spacing==========--->
                    </div>
                </div>
            </div>
            <div class="ab_img_right_bottom z_minus_1">
                <img src="{% static 'assets/images/bg-2.png'%}" class="img-fluid" alt="img" />
            </div>
        </section>
        <!---about end-->

        <!---service-->
        <section class="service-section position-relative bg_2 overflow-hidden">
            <!---============spacing==========--->
            <div class="pd_top_80"></div>
            <!---============spacing==========--->

            <div class="position-relative z_1">
                <div class="container pd_zero md_pd_left_15 md_pd_right_15">
                    <div class="row">
                        <div class="col-lg-7 m-auto">
                            <div class="section_title text-center type_one color_white">
                                <h4 class="sm_title"> На чем мы специализируемся?</h4>
                                <div class="title_whole">
                                    <h2 class="title"> НАШИ НАПРАВЛЕНИЯ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_40"></div>
                    <!---============spacing==========--->
                    <div class="row  mr_left_minus_15 mr_right_minus_15">
                        {% for service in services %}
                        <div class="col-xl-3">
                            <div class="service_box type_five style_two icon_box_only type_three trans">
                                <div class="icon_inner trans direction_block_h100">
                                    <div class="d-flex trans direction_block_h100">
                                        <div class="content direction_block">
                                            <div>
                                                <div class="title_22">
                                                    <a href="{% url 'services_detail' service.id %}">
                                                        {{ service.title }}</a>
                                                </div>
                                                <p class="trans">
                                                    {{ service.descriptions |truncatewords:15 }}</p>
                                            </div>
                                            <a href="{% url 'services_detail' service.id %}" class="rd_more">
                                                Читать Далее
                                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8 1L13 6M13 6L8 11M13 6H1" stroke="var(--color-white)"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                    </path>
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>


            </div>
    </div>
    <div class="ab_img_right_bottom mr_bottom_minus_250 z_0">
        <img src="{% static 'assets/images/shape/wave-pattern-1.png'%}" class="img-fluid" alt="img">
    </div>
    <!---============spacing==========--->
    <div class="pd_bottom_80"></div>
    <!---============spacing==========--->

    </section>
    <!---service end-->

    <!---faqs-->
    <section class="faq-section">
        <!---============spacing==========--->
        <div class="pd_top_80"></div>
        <!---============spacing==========--->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="section_title type_one">
                        <h4 class="sm_title3"> Наши преимущества</h4>
                        <div class="title_whole">
                            <h2 class="title"> ПОЧЕМУ МЫ</h2>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_20"></div>
                        <!---============spacing==========--->
                    </div>
                    <div class="position-relative br_left_3px_theme_color pd_left_10">
                        ОсОО MSBusiness предоставляет услуги согласно
                        собственной систематизированной схеме, начиная от
                        анализа рынка и исследования среды и потенциала до
                        построения и внедрения стратегии развития.
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="block_faq">
                        <div class="accordion-box">
                            {% for benefit in benefits %}
                            <div class="accordion">
                                <div class="question  faq_header">
                                    <div class="question_box ">
                                        <div class="title_no_a_18 trans">{{benefit.title}}
                                        </div>
                                        <span class="icon_fq trans fi-rs-arrow-small-right"></span>
                                    </div>
                                </div>
                                <div class="answer accordion-content">
                                    {{benefit.descriptions |truncatewords:15}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_40"></div>
                    <!---============spacing==========--->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 pd_left_30">
                    <div class="image_box_only  type_three">
                        <div class="left">
                            <div class="image one">
                                <img src="{% static 'assets/images/about/about-2-1.jpg'%}" alt="img" class="img-fluid">
                            </div>
                            <div class="image two">
                                <img src="{% static 'assets/images/about/about-2-3.jpg'%}" alt="img" class="img-fluid">
                            </div>
                        </div>
                        <div class="right">
                            <div class="image three">
                                <img src="{% static 'assets/images/about/about-2-2.jpg'%}" alt="img" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_40"></div>
                    <!---============spacing==========--->
                </div>
            </div>
        </div>
        <!---============spacing==========--->
        <div class="pd_bottom_40"></div>
        <!---============spacing==========--->
    </section>
    <!---faqs end-->

    <!--fun fact-->
    <section class="fub-fact-section mr_bottom_minus_90 position-relative z_2">
        <div class="medium-container">
            <div class="inner-section bg_op_1 position-relative overflow-hidden pd_top_60 pd_bottom_30 pd_left_60 pd_right_60 md_pd_left_15 md_pd_right_15"
                style="background-image: url({% static 'assets/images/page-image-1-min.jpg'%});">
                <div class="background_overlay z_0"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="fun_facts type_three">
                            <div class="icon trans">
                                <i class="color_white flaticon-satisfaction"></i>
                            </div>
                            <div class="content">
                                <h4>
                                    <span class="count color_white">{{about.clients}}</span>
                                    <small class="color_white"> + </small>
                                </h4>
                                <h6 class="title_no_a_18 color_white">Довольных клиентов</h6>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="fun_facts type_three">
                            <div class="icon trans">
                                <i class="color_white flaticon-business-people"></i>
                            </div>
                            <div class="content">
                                <h4>
                                    <span class="count color_white">{{about.staff}}</span>
                                    <small class="color_white"> + </small>
                                </h4>
                                <h6 class="title_no_a_18 color_white">Опытных сотрудников</h6>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="fun_facts type_three">
                            <div class="icon trans">
                                <i class="color_white flaticon-reviews"></i>
                            </div>
                            <div class="content">
                                <h4>
                                    <span class="count color_white">{{about.level}}</span>
                                    <small class="color_white"> % </small>
                                </h4>
                                <h6 class="title_no_a_18 color_white">Удовлетворенности</h6>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="fun_facts type_three">
                            <div class="icon trans">
                                <i class="color_white flaticon-trophy"></i>
                            </div>
                            <div class="content">
                                <h4>
                                    <span class="count color_white">{{about.awards}}</span>
                                    <small class="color_white"> + </small>
                                </h4>
                                <h6 class="title_no_a_18 color_white">Наград</h6>
                            </div>
                        </div>
                        <!---============spacing==========--->
                        <div class="pd_bottom_30"></div>
                        <!---============spacing==========--->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--fun fact-->

    <!--form section-->
    <section class="form-section bg_light_1 position-relative">
        <div class="ab_img_left_top">
            <img src="{% static 'assets/images/bg.png'%}" class="img-fluid" alt="img">
        </div>
        <!---============spacing==========--->
        <div class="pd_top_190"></div>
        <!---============spacing==========--->
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="image">
                        <img src="{% static 'assets/images/about/man-1.png'%}" class="img-fluid m-auto" alt="img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="section_title text-center type_one">
                        <h4 class="sm_title"> Наши продукты</h4>
                        <div class="title_whole">
                            <h2 class="title"> ОФОРМИ ЗАЯВКУ СЕЙЧАС </h2>
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_40"></div>
                    <!---============spacing==========--->
                    <section class="fom_tab_box custom_tabs type_one">

                        <div class="s_tabs_content tab-content">
                            <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1-cartab">
                                <div class="contentbox ">
                                    <div class="contact_form_shortcode">
                                        <form method="post">
                                            {% csrf_token %}
                                            <select name="choice" id="">
                                                <option value="Стратегия Развития">Стратегия Развития</option>
                                                <option value="Маркетинговая Стратегия">Маркетинговая Стратегия</option>
                                                <option value="Бизнес-Планирование">Бизнес-Планирование</option>
                                                <option value="Организационная Стратегия">Организационная Стратегия
                                                </option>
                                                <option value="Иследование И Онализ Рынков">Иследование И Онализ Рынков
                                                </option>
                                                <option value="Кабинетные Иследования">Кабинетные Иследования</option>
                                                <option value="Брендинг И Фирменный Стиль">Брендинг И Фирменный Стиль
                                                </option>
                                                <option value="инансовый Налоговый Консалтинг">Финансовый Налоговый
                                                    Консалтинг</option>
                                                <option value="Автоматизация Бизнеса">Автоматизация Бизнеса</option>
                                                <option value="Дизайн И Архитектура">Дизайн И Архитектура</option>
                                            </select>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <label>ФИО <span>*</span></label>
                                                    <input type="text" name="name" placeholder="Антонов Антон Антонович"
                                                        required="">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <label>Телефон</label>
                                                    <input type="text" name="phone" placeholder="+996-777-777-777">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <label>Адресс Email <span
                                                            class="wpforms-required-label">*</span></label>
                                                    <input type="email" name="email" placeholder="Ваша почта@gmail.com"
                                                        required="">
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <label>Лимит по бюджету</label>
                                                    <input type="range" name="range" value="4000" min="0" max="8560"
                                                        step="1">
                                                    <div class="slider-hint">Выбранное значение: <b>4000</b>


                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 text-md-end">
                                                    <button type="submit">Отправить</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="image">
                        <img src="{% static 'assets/images/about/man-2.png'%}" class="img-fluid m-auto" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--form-section end-->





    <!---client-section--->
    <section class="client-section">
        <!---============spacing==========--->
        <div class="pd_top_80"></div>
        <!---============spacing==========--->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="section_title type_one">
                        <h4 class="sm_title"> Популярные Клиенты</h4>
                        <div class="title_whole">
                            <h2 class="title">
                                У нас более 1520 премиальных клиентов по всему миру.
                            </h2>
                        </div>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_30"></div>
                    <!---============spacing==========--->
                    <div class="theme_btn_all">
                        <a href="{% url 'projects' %}" class="theme_btn big rotate">
                            Смотреть Проекты <span> <i class="fi-rr-arrow-small-up"></i></span>
                        </a>
                    </div>
                    <!---============spacing==========--->
                    <div class="pd_bottom_20"></div>
                    <!---============spacing==========--->
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="client_grid">
                        <div class="client_box">
                            <a href={% url 'projects' %}>
                                <img src="{% static 'assets/images/MS/client-logo-8.png'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                        <div class="client_box">
                            <a href="{% url 'projects' %}">
                                <img src="{% static 'assets/images/MS/client-logo-2.png'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                        <div class="client_box">
                            <a href="{% url 'projects' %}">
                                <img src="{% static 'assets/images/MS/client-logo-3.png'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                        <div class="client_box">
                            <a href="{% url 'projects' %}">
                                <img src="{% static 'assets/images/MS/client-logo-7.svg'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                        <div class="client_box last">
                            <a href="{% url 'projects' %}">
                                <img src="{% static 'assets/images/MS/client-logo-5.png'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                        <div class="client_box last">
                            <a href="{% url 'projects' %}">
                                <img src="{% static 'assets/images/MS/client-logo-6.png'%}" class="img-fluid"
                                    alt="img" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---============spacing==========--->
        <div class="pd_bottom_90"></div>
        <!---============spacing==========--->
    </section>
    <!---client-section-end --->



</div>
<!--content end-->
{% include 'include/footer.html' %}
{% endblock %}